.kutu{
    margin:0 auto;
    border:1px solid #2aabd2;
    width:80%;
    line-height: 25px;
    color:#222222;
    font-family: 'Nunito', sans-serif;
    font-size:14px;
}

.icindekiler{
    border:1px solid #2aabd2;
    width:400px;
    margin-left:30px;
    padding-bottom: 10px;
    background:#eaeded;
}

.ustyazi{
    width:100%;
}

.ustresim{
    width: 195px;
    float:right;
    padding:0 40px;
    border:1px solid #9d9d9d;
    margin:5px;
    font-size:12px;
}

.baslik{
    font-size:20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 15px;
}
p{
    margin-left:30px;
}
.ustbaslik{
    font-size:30px;
    margin:30px;
    font-weight: 100;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 15px;
}
table{
    margin-left:30px;
}
th{
    background: #ccccff;
}
a{
    text-decoration: none;
}
td{
    background:#ddddff;
}
.plan{
    background: transparent;
}
.resimler img{
    margin-left:30px;
    border:1px solid #b9def0;
    padding:20px;
}

.temizle{
    clear:both;
}

.ilkresim, .resim2{
    width:185px;
    float:left;

}